<div class="container">
    <div class="text-center">
      <%= image_tag @user.profile.avatar.url, class: 'avatar-show-img' %>
      <h1><%= @user.profile.first_name %> <%= @user.profile.last_name %></h1>
      <h3><%= @user.profile.job_title %></h3>
      <span class="users job-title-icon"><%= job_title_icon %></span>
      <div class="well profile-block profile-bio">
        <h3>Bio</h3>
        <%= @user.profile.description %>
      </div>
      <% if current_user.plan_id == 2 %>
        <div class="well profile-block profile-contact">
          <h3>Contact</h3>
          <b>Phone number:</b> <%= @user.profile.phone_number %>
          <br>
          <b>Email:</b> <%= @user.profile.contact_email %>
          <br>
        </div>
      <% end %>
  </div>
</div>